@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body {
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .inline-relative-animation {
        @apply relative inline-block;
    }

    .line-animation::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        bottom: -2px;
        left: 50%;
        background: #3b82f6;
        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .line-animation:hover::after,
    .line-animation.active::after {
    width: 100%;
    left: 0;
    }
    
    .contain{
        @apply xl:max-w-6xl lg:max-w-4xl md:max-w-xl sm:max-w-lg;
    }
    
    .m80{
        max-width: 80%;
    }

    .skillscontain{
        @apply xl:max-w-xl lg:max-w-md md:max-w-xs;
    }

    .bg-scrolled{
        @apply bg-black dark:bg-white bg-opacity-10 dark:bg-opacity-10;
    }

    .bg-menu{
        @apply bg-gray-100 dark:bg-gray-700;
    }
    .active{
        display: block !important;
    }

}